@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --fs11: .6875rem;
    --fs12: .75rem;
    --fs13: .8125rem;
    --fs14: .875rem;
    --fs15: .9375rem;
    --fs16: 1rem;
    --fs18: 1.125rem;
    --fs20: 1.25rem;
    --fs24: 1.5rem;
    --fs26: 1.625rem;
    --fs30: 1.875rem;
    --fs32: 2rem;
    --fs35: 2.1875rem;
    --fs36: 2.25rem;
    --fs40: 2.5rem;
    --fs44: 2.75rem;
    --fs50: 3.125rem;
    --fs53: 3.3125rem;
    --fs60: 3.75rem;
    --fs65: 4.0625rem;
    --fs140: 8.75rem;
    --main-font: 'Montserrat', sans-serif;

    --blue: #08006F;
    --yellow: #F5C24E;
}

html {
    font-size: 16px;
}

.fs-18 {
    font-size: var(--fs18);
}

.fs-20 {
    font-size: var(--fs20);
}

.fs-32 {
    font-size: var(--fs32);
}

.fs-60 {
    font-size: var(--fs60) !important;
}

.text-blue {
    color: var(--blue);
}



.text-yellow {
    color: var(--yellow) !important;
}

.text-white * {
    color: #fff !important;
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-orange {
    background-color: #EF7321;
}

.bg-blue {
    background-color: var(--blue);
}


.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.a-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

p {
    font-weight: 400;
    font-size: var(--fs14);
    margin-bottom: 0;
}

.block-text>*:not(:last-child) {
    margin-bottom: 32px;
}

.block-title {
    font-size: var(--fs60);
    font-weight: 900;
    color: var(--blue);
    text-transform: uppercase;
}

.block-text p {
    color: #000;
}


.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
}

.header-home {
    position: relative;
}

.header-home .block-text p {
    color: #fff;
}


.header-home .img-cont {
    inset: 0;
    border-radius: 0px 0px 120px 0px;
    z-index: -1;
    overflow: hidden;
}

.header-home .img-cont::after {
    inset: 0;
    position: absolute;
    content: "";
    background: url(../images/Group\ 2772.png) no-repeat center;
    background-size: cover;
    opacity: .25;

}

.header-home .img-cont::before {
    position: absolute;
    content: "";
    inset: 0;
    background: var(--blue) 0% 0% no-repeat padding-box;
}

.header-home {
    padding: 240px 0 45px;
    position: relative;
    z-index: 100;
}

.header-home h1 {
    font-size: var(--fs44);
    font-weight: 900;

    text-transform: uppercase;
}

.header-home .text-cont p {
    font: normal normal 300 var(--fs26)/var(--fs32) var(--main-font);

    text-transform: uppercase;
}

.header-home .slider-cont {
    margin-top: 50px;
}

.header-home .slider-cont a {
    font-size: var(--fs20);
    text-transform: uppercase;
    font-weight: 400;
    width: fit-content;

    color: #fff;
    text-decoration: none;
}

.lines {
    position: relative;
    font-size: var(--fs20);
    text-decoration: none;
    color: var(--blue);
    text-transform: uppercase;
}

.lines::before,
.lines::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #EF7321;
    left: calc(100% + 5px);
    transform: translateY(-50%);
    transition: all .3s;
}

.lines::before {
    width: 10px;
    top: calc(50% + 3px);

}

.lines::after {
    width: 20px;
    top: calc(50% - 3px);
}

.lines:hover::before {
    width: 20px;
}

.lines:hover::after {
    width: 30px;
}


/********************************** - navbar - ************************************/
.navbar-brand img {
    width: 181px;
    height: 70px;
    object-fit: contain;
}

.nav-link {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
    font-family: var(--main-font);
    font-size: var(--fs15);
    color: #FFFFFF;
    transition: all .2s;
}

.navbar .nav-link::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar .nav-item {
    position: relative;

}

.navbar .submenu .nav-item {
    color: #1f197b;
}

.navbar .nav-item .nav-link:not(.contact):hover {
    font-weight: bold;
}

.navbar .nav-item .submenu {
    position: absolute;
    left: 16px;
    top: 40px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #dce7df;
    white-space: nowrap;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.navbar .nav-item:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.navbar .contact {

    background: #EF7321;
    border-radius: 5px;
    padding-left: 19px !important;
    padding-right: 19px !important;
    margin-left: 8px;
}

.nav-link.search {
    width: 18px;
    height: 18px;
    background: url(../images/search.png) no-repeat center;
    background-size: contain;
    padding-left: 0 !important;
    margin-left: 15px;
}

.navbar {
    transition: all .2s;
    padding: 15px 0;
}

.navbar .navbar-brand {
    position: relative;
    padding: 0;
}

.navbar .dark-logo {
    position: absolute;

    left: 0;
    opacity: 0;
    transition: all .3s;
}

.navbar.scrolled .dark-logo {
    opacity: 1;
}

.navbar.scrolled {
    background-color: #e0e0e0 !important;
}

.navbar.scrolled .nav-item .nav-link:not(.contact),
.navbar.scrolled .nav-item .nav-link:not(.contact):hover {

    color: #1f187b;
}

.navbar .submenu .nav-link{
    color: #1f187b;
}

.navbar.scrolled .nav-item .nav-link.search {
    filter: brightness(0) saturate(100%) invert(8%) sepia(70%) saturate(4980%) hue-rotate(248deg) brightness(86%) contrast(129%);
}

.header-home .swiper-button-next,
.header-home .swiper-button-prev {

    width: 48px;
    height: 10px;
    background: url(../images/right-arrow.svg) no-repeat center;
    background-size: contain;
    transform: none;
    margin-top: 0;
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(7449%) hue-rotate(200deg) brightness(101%) contrast(112%);
    transition: all .3s;
    position: relative;
    top: unset;
    left: 0;
    right: unset;
}

.header-home .swiper-button-next {
    transform: scaleX(-1);
}

.header-home .swiper-button-prev {

    background-size: contain;
    margin-right: 14px;
}

.header-home .swiper-button-next::after,
.header-home .swiper-button-prev::after {
    display: none;
}

.header-home .swiper-wrapper {
    margin-bottom: 11px;
}

.header-home .swiper-button-prev:hover {
    left: -10px;
}

.header-home .swiper-button-next:hover {
    left: 10px;
}

.header-home .scroll-down {
    margin-top: 20px;
}

.header-home .scroll-down a {

    font-size: var(--fs12);
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7px;
}

.header-home .scroll-down a i {
    display: inline-block;

    width: 17px;
    height: 25px;
    background: url(../images/mouse2.png) no-repeat center;
    background-size: contain;
    position: relative;
}

.header-home .scroll-down a i::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 5px;
    background-color: #fff;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.header-home .scroll-down a:hover i::before {
    top: 7px;
}

.header-home .socials {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.header-home .socials ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header-home .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    transition: all .3s;
    margin-left: 0;
}

.header-home .socials a:hover {
    width: 60px;
}

.header-home .socials li:not(:last-child) {
    margin-bottom: 1px;
}

.header-home .socials li {
    display: flex;
    justify-content: flex-end;
}

.header-home .socials a i {
    display: block;
    background-size: contain !important;
}

.header-home .socials a.facebook {
    background-color: #1D81D7;
}

.header-home .socials a.twitter {
    background-color: #0BB2F5;
}

.header-home .socials a.linkedin {
    background-color: #0582BD;
}

.header-home .socials a.instagram {
    background: transparent linear-gradient(133deg, #9018B2 0%, #932D83 49%, #FF6C00 100%) 0% 0% no-repeat padding-box;
}

.header-home .socials a.facebook i {
    width: 10px;
    height: 20px;
    background: url(../images/facebook.png) no-repeat center;

}

.header-home .socials a.twitter i {
    width: 20px;
    height: 17px;
    background: url(../images/twiiter.png) no-repeat center;


}

.header-home .socials a.linkedin i {
    width: 18px;
    height: 17px;
    background: url(../images/linkedin.png) no-repeat center;

}

.header-home .socials a.instagram i {
    width: 17px;
    height: 17px;
    background: url(../images/instagram.png) no-repeat center;

}

.header-home .socials li:nth-child(1) a {
    border-radius: 5px 0px 0px 0px;

}

.header-home .socials li:last-child a {
    border-radius: 0px 0px 0px 5px;

}

/*****************************services*******************************/
.services {
    padding: 140px 0 125px;
    position: relative;
}

.services::before {
    position: absolute;
    content: "";
    width: 100%;
    aspect-ratio: 1280 / 424;
    background: url(../images/services\ shape.png) no-repeat center;
    background-size: contain;
    top: -120px;
    left: 0;
    z-index: 2;
}

.services h2 {
    color: var(--blue);
    text-transform: uppercase;
    font-size: var(--fs60);
    font-weight: 900;
}

.services .swiper-button-next,
.services .swiper-button-prev {
    position: static;
    width: 97px;
    height: 122px;
    background: #ef7321 url(../images/right-arrow.png) no-repeat center;
    margin-top: 0;
    background-size: 15%;


}

.services .swiper-button-next {
    margin-top: 1px;
    border-radius: 10px 0px 0px 0px;
    transform: scaleY(-1);


}

.services .swiper-button-prev {
    border-radius: 10px 0px 0px 0px;

}

.services .swiper-button-next::after,
.services .swiper-button-prev::after {
    display: none;
}

.services .swiper-button-next.swiper-button-disabled,
.services .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.services .slider-cont {
    display: flex;
    margin-top: 30px;
    align-items: center;
    position: relative;
    z-index: 3;
}

.services .slider-outer {
    width: calc(100% - 97px);
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;

    padding: 118px 60px 118px 70px;
    position: relative;
}

.services .slider-outer .img-overlay {
    position: absolute;
    inset: 0;

}

.services .slider-outer .img-overlay:after {
    position: absolute;
    content: "";
    inset: 0;
    background: url(../images/thisisengineering-raeng-8hgmG03spF4-unsplash.png) no-repeat center;
    background-size: cover;
    opacity: .15;
}



.services .slider-outer .img-overlay::before {
    position: absolute;
    content: "";
    inset: 0;
    background: var(--blue) 0% 0% no-repeat padding-box;

}



.services .thumbnail-slider .swiper-slide {

    height: unset !important;
    font-size: var(--fs40);
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.3;
    cursor: pointer;
}

.services .thumbnail-slider .swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
    font-weight: 900;
}

.services .thumbnail-slider .swiper-slide {
    display: flex;
    align-items: center;
    gap: 15px;
}

.services .thumbnail-slider i {
    display: inline-block;
    width: 37px;
    height: 32px;
    background: url(../images/thumb1.png) no-repeat center;
    background-size: contain;
    opacity: 0;
    transition: all .3s;
    display: block;
    flex-shrink: 0;
}

.services .thumbnail-slider .swiper-slide.swiper-slide-thumb-active i {
    opacity: 1;
}

.services .main-slider .block-text * {
    color: #fff;
}

.services .main-slider .swiper-slide {
    border-top: 1px solid #FFFFFF24;
    border-bottom: 1px solid #FFFFFF24;
    padding: 20px 0;
}


.services .main-slider .swiper-slide a,
.services-swiper-mobile .text-cont a {

    font-size: var(--fs12);
    color: var(--yellow);
    display: block;
    width: fit-content;
    margin-top: 18px;
    text-decoration: none;
    text-transform: capitalize;
}

.services .link-wrapper {
    position: absolute;
    right: 0;
    width: fit-content;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 10px 0px 0px 0px;
    padding: 45px 60px;
}

.services .link-wrapper a {
    text-decoration: none;
    font-size: var(--fs20);
    color: var(--blue);
    text-transform: uppercase;
}

/**************************** - solutions - ****************************/

.solutions {
    padding: 105px 0 45px;
}

.solutions .swiper-slide {
    display: flex;
    gap: 42px;
    align-items: stretch;

}

.solutions .lines {
    margin-right: 25px;
}

.solutions .swiper-slide h3 {
    font-weight: 900;
    font-size: var(--fs140);
    color: var(--yellow);
    text-transform: uppercase;
    flex-shrink: 0;
    min-width: 182px;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solutions .slider-cont {
    margin-top: 25px;
}


.solutions .swiper-slide .sep {
    width: 1px;
    background-color: #B9B9B9;
    flex-shrink: 0;
}



.solutions .swiper-slide i {
    margin-bottom: 13px;
    display: block;
}

.solutions .swiper-slide h4 {
    font-weight: 900;
    font-size: var(--fs30);
    color: var(--blue);
    max-width: 490px;
    margin-bottom: 9px;
}

.solutions .swiper-slide .block-text * {
    font-weight: 400;
}

.solutions .swiper-slide a {
    font-size: var(--fs12);
    color: #EF7321;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 22px;
    text-decoration: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}


.solutions .swiper-button-next,
.solutions .swiper-button-prev {
    width: 48px;
    height: 10px;
    background: url(../images/prev-arrow-blue.svg) no-repeat center;
    background-size: contain !important;
    transition: all .3s;
    top: 220px;
    margin-top: 0;
}


.solutions .swiper-button-next {
    transform: scaleX(-1);
    right: unset;
    left: 110px;
}

.solutions .swiper-button-next:hover {
    left: 120px;
}

.solutions .swiper-button-prev {
    left: 30px;
}

.solutions .swiper-button-prev:hover {
    left: 20px;
}

/**************************** - logos-slider- ****************************/

.logos-slider {
    overflow: hidden;
    padding: 95px 0;
}

.logos-slider .swiper-slide {
    width: fit-content;
}

.logos-slider .swiper-wrapper {
    display: flex;
    align-items: center;
}



/****************************what-we-offer****************************/

.what-we-offer {
    background-color: #DCE7DF;
    padding: 130px 0;
}

.what-we-offer .out-cont {
    padding: 0 20px;

}

.what-we-offer .grid-cont {
    display: grid;
    grid-template-columns: 12% 23% 28.5% 23% 12%;
    gap: .5%;
}


.what-we-offer .grid-cont>div>div {
    border-radius: 10px;
    overflow: hidden;
}

.what-we-offer h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.what-we-offer .with-text {
    padding: 64px 30px 40px;
}

.what-we-offer .full {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 25px;
}

.what-we-offer .half {
    height: calc(50% - 5px);
}

.what-we-offer .grid-cont>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.what-we-offer .common {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    display: flex;
    align-items: flex-end;
    padding: 18px 11px;
    position: relative;
}

.what-we-offer .common h3 {
    color: #fff;
    z-index: 2;
}

.what-we-offer .common::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 35px);
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #06035C00 0%, #06035C 100%) 0% 0% no-repeat padding-box;
}

.what-we-offer .special .common {
    aspect-ratio: 288 / 117;
    margin-bottom: 10px;
}

.what-we-offer .special a {
    font-size: var(--fs12);
    color: var(--yellow);

    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

.what-we-offer .center {
    display: flex;
    align-items: center;
    padding: 20px;
}

.what-we-offer .grid-cont>div:nth-child(3)>.half:nth-child(2) {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.what-we-offer .grid-cont>div:nth-child(3)>.half:nth-child(2)>div {
    flex: 0 0 calc(50% - 5px);
    border-radius: 10px;
    overflow: hidden;
}

.what-we-offer .grid-cont>div:nth-child(2) span {
    position: relative;
    display: block;
    height: 27px;
    margin-bottom: 22px;
}

.what-we-offer .grid-cont>div:nth-child(2) span::before,
.what-we-offer .grid-cont>div:nth-child(2) span::after {
    position: absolute;
    content: "";
    background-color: #fff;
    height: 9px;
    left: 0;
}

.what-we-offer .grid-cont>div:nth-child(2) span::before {
    top: 0;
    width: 48px;

}

.what-we-offer .grid-cont>div:nth-child(2) span::after {
    bottom: 0;
    width: 27px;


}


/**************************** - locations - ****************************/
.locations {
    padding: 95px 0;
}

/**************************** - whats-new - ****************************/

.whats-new {
    padding: 65px 0 0;
}


/*****************************/
.whats-new {
    position: relative;
}

.whats-new::before {
    position: absolute;
    content: "";
    width: calc(100% - 155px);
    right: 0;
    height: 320px;
    border-radius: 10px 0px 0px 10px;

    background-color: var(--yellow);
    z-index: -1;
    top: 0;
}

.whats-new .nav-link,
.whats-new .nav-link:hover {
    font-weight: bold;
    font-size: var(--fs20);
    color: var(--blue);
    padding: 0 15px;
    position: relative;
}

.whats-new .nav-link.active {
    background-color: transparent;
    color: var(--blue);
}

.whats-new .nav-link.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-color: #4DAAB1;
    z-index: -1;
}

.whats-new .nav-pills {
    padding-left: 135px;
    margin-bottom: 35px !important;
}

.whats-new .item {
    aspect-ratio: 376 / 268;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    overflow: hidden;
}

.whats-new .item img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .3s;
}

.whats-new .item>*:not(img):not(.a-full) {
    z-index: 2;
    position: relative;
}

.whats-new .item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 125px);
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    z-index: 1;
}

.whats-new .item .text-cont {
    padding: 18px 20px;
    position: relative;
    top: 0;
    transition: all .3s;
}

.whats-new .item .date {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}

.whats-new .item .date strong {
    font-weight: 900;
    font-size: var(--fs35);
    color: var(--yellow);
}

.whats-new .item .date span {
    font-size: var(--fs13);
    color: #FFFFFF;
}

.whats-new .item p {
    font-weight: bold;
    font-size: var(--fs20);
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.whats-new .item:hover img {
    transform: scale(1.1);
}

.whats-new .item:hover .text-cont {
    top: -10px;
}

/********************/
.lets-talk {
    padding: 280px 0 185px;
    background: #1a1378 url(../images/talk-shape.png) no-repeat center;
    background-size: cover;
    margin-top: -100px;
}


.lets-talk h2 {
    font-size: var(--fs36);
    font-weight: normal;
    margin-bottom: 0;
    color: #fff;
    margin-bottom: 0;
    text-wrap: balance;
}

.lets-talk .lines {
    padding-right: 100px;
}

.lets-talk .lines::before,
.lets-talk .lines::after {
    height: 8px;
    left: calc(100% - 80px);
}

.lets-talk .lines::before {
    width: 26px;

    top: calc(50% + 7px);

}

.lets-talk .lines::after {
    width: 52px;
    top: calc(50% - 6px);
}

.lets-talk .lines:hover::before {
    width: 36px;
}

.lets-talk .lines:hover::after {
    width: 62px;
}

/********************/

footer {
    background-color: #020548;

}

.main-footer {
    position: relative;
    padding: 75px 0 60px;
    background-color: #312b86;
}

.main-footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 120px 0 0 0;
    background: transparent linear-gradient(99deg, #020548 0%, #020435 100%) 0% 0% no-repeat padding-box;
}

.main-footer>* {
    position: relative;
    z-index: 1;
}

.main-footer .footer-cont {
    display: flex;
    justify-content: space-between;
    column-gap: 85px;
}

.main-footer .footer-cont .logo-cont {
    display: flex;
    align-items: center;

}

.main-footer .footer-cont .logo-cont img {
    width: 179px;
    height: 70px;
}

.main-footer .footer-cont .logo-cont p {
    font-size: var(--fs12);
    color: #fff;
    margin-left: 15px;
}

.main-footer .footer-cont h3 {
    font-weight: bold;
    font-size: var(--fs13);
    color: #fff;
}

.main-footer .footer-cont .socials {
    flex-shrink: 0;
}

.main-footer .footer-cont .socials ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    column-gap: 35px;
}

.main-footer .footer-cont .socials ul img {
    max-height: 21px;
}

.main-footer .footer-cont .socials h3 {
    margin-bottom: 33px;
}

.main-footer .newsletter h3 {
    margin-bottom: 15px;
}

.main-footer .newsletter form {
    position: relative;
    background: #00000033;
    border: 1px solid #FFFFFF58;
    border-radius: 50rem;
    overflow: hidden;
}

.main-footer .newsletter form input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--fs13);
    color: #fff;
    padding: 14px;
    min-width: 280px;
}

.main-footer .newsletter form button {
    padding: 14px 17px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: var(--fs13);
    border: none;
}

.footer-bootom {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .2);
}

.footer-bootom p {
    color: #fff;
    opacity: .7;
    font-weight: 300;
    font-size: var(--fs11);

}



/*****************  - Responsive - ****************/

@media (max-width:991px) {

    .block-title,
    .services h2 {
        font-size: var(--fs50);
    }

    .container-fluid {
        padding: 0 10px;
    }

    .main-footer .footer-cont {
        flex-direction: column;
    }

    .navbar-brand img {
        width: 57px;
        height: 34px;
    }

    .navbar-brand {
        padding: 0 !important;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .navbar-toggler {
        padding: 0;
        border: none;
        border-radius: 0;
        box-shadow: none !important;
        outline: none !important;
    }

    .navbar .nav-item .submenu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: none;
        transition: none;
        background-color: transparent;
        padding-left: 30px;
    }

    .navbar .nav-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-toggler-icon {
        background: url(../images/hamburger.svg) no-repeat center;
        background-size: contain;
        width: 34px;
        height: 20px;
    }

    .navbar.scrolled .navbar-toggler-icon,
    .navbar.scrolled .search {
        filter: brightness(0) saturate(100%) invert(17%) sepia(81%) saturate(1373%) hue-rotate(225deg) brightness(96%) contrast(104%);
    }

    .nav-link.search {
        margin: 0 20px 0 30px;
    }

    .header-home {
        padding: 100px 0 40px;
    }

    .header-home h1 {
        font-size: var(--fs40);
    }

    .header-home .slider-cont {
        margin-top: 33px;
    }

    .header-home .slider-cont a {
        margin-bottom: 40px;
        display: inline-block;
    }

    .services {
        padding: 60px 0 65px;
    }

    .block-text>*:not(:last-child) {
        margin-bottom: 25px;
    }

    .services .slider-outer {
        width: 100%;
        position: relative;
        padding: 37px 10px 0 19px;
    }

    .services .slider-cont {
        width: calc(100% + 10px);
    }

    .services .link-wrapper {
        position: relative;
        margin-left: auto;
        right: -10px;
        margin-top: 34px;
        padding: 24px;
    }

    .services-swiper-mobile h3 {
        font-size: var(--fs40);
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 900;
    }

    .services-swiper-mobile h3 i {
        display: inline-block;
        width: 37px;
        height: 32px;
        background: url(../images/thumb1.png) no-repeat center;
        background-size: contain;
        transition: all .3s;
        display: block;
        flex-shrink: 0;
        margin-bottom: 7px;
    }

    .services-swiper-mobile .text-cont {
        border-top: 1px solid #FFFFFF24;
        border-bottom: 1px solid #FFFFFF24;
        padding: 20px 0;
    }

    .services-swiper-mobile .text-cont .block-text * {
        color: #fff;
    }

    .services-swiper-mobile {
        overflow: hidden;
    }

    .solutions {
        padding: 85px 0 0px;
    }

    .solutions .block-title {
        margin-bottom: 50px !important;
    }

    .solutions .swiper-slide {
        flex-direction: column;
        gap: 30px;
    }

    .solutions .slider-cont {
        margin-top: 40px;
    }

    .solutions .swiper-slide h3 {
        justify-content: flex-start;
    }

    .solutions .swiper-slide .sep {
        width: 100%;
        margin-top: 35px;
        height: 1px;
    }

    .solutions .swiper-button-next,
    .solutions .swiper-button-prev {
        top: 180px;
    }

    .logos-slider {
        padding: 65px 0;
    }

    .what-we-offer {
        padding: 35px 0;
    }

    .what-we-offer .grid-cont {
        display: block;
    }

    .what-we-offer .grid-cont .two-items {
        flex-direction: row;
        align-items: stretch;
        column-gap: 10px;
    }

    .what-we-offer .grid-cont .two-items>div {
        flex: 0 0 calc(50% - 5px);
        height: inherit;
    }

    .what-we-offer .common {
        aspect-ratio: 159 / 200;
    }

    .what-we-offer .grid-cont>div {
        margin-bottom: 10px;
    }

    .what-we-offer .full {
        padding: 145px 25px 42px;
    }

    .what-we-offer .grid-cont>div:nth-child(3) {
        row-gap: 10px;
    }

    .what-we-offer .grid-cont>div:nth-child(3)>.common:first-child {
        aspect-ratio: 328 / 200;

    }

    .what-we-offer .special .common {
        aspect-ratio: 328 / 91;
        margin-bottom: 10px;
    }

    .what-we-offer .special a {
        margin-top: 30px;
    }

    main {
        overflow: hidden;
    }

    .locations {
        padding: 55px 0 45px;
    }

    .locations .img-cont {
        margin-top: 30px;
    }

    .whats-new::before {

        width: calc(100% - 35px);
    }

    .whats-new .nav-pills {
        padding-left: 25px;
    }

    .whats-new .item {
        aspect-ratio: 365 / 394;
    }

    .whats-new .items .row>div:not(:first-child) {
        display: none;
    }

    .lets-talk {
        margin-top: 0;
    }

    .whats-new {
        padding: 35px 0 70px;
    }

    .lets-talk {
        padding: 55px 0 65px;
    }

    .lets-talk .lines {
        font-size: var(--fs40) !important;
        margin-top: 60px;
        display: inline-block;
    }

    .main-footer .footer-cont .logo-cont {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .main-footer {
        padding: 60px 0 40px;
    }

    .main-footer .footer-cont .logo-cont p {
        margin-bottom: 35px;
        margin-left: 0;
    }

    .main-footer .newsletter {
        margin-top: 55px;
    }

    .main-footer .newsletter form input {
        min-width: unset;
        flex-grow: 1;
    }

    .main-footer .newsletter form {
        display: flex;
    }

    .footer-bootom p {
        text-wrap: balance;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .main-footer .newsletter form input {
        min-width: unset;
    }

    .main-footer .footer-cont {
        column-gap: 10px;
    }
}